<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removal Confirmation</title>
</head>

<body>
    <p>All of your classes have been removed from the database.</p>
    <a href="/"><button>Go Home</button></a>
</body>