<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Pre-Requisites</title>
</head>
<body>
    <nav class="nav">
        <span class="nav__span">
            <%- name %>'s Class Planner | University of Maryland
        </span>
    </nav>
    <section class="input-section">
        <%- info %>
        <br>
    </section>
    <div class="form">
        <section class="input-section">
            <a href="/"><button>Go Home</button></a>
        </section>
    </div>
</body>
</html>